html{
  font-size: 20px;
}
main{
  width: 75%;
  background-color: lightpink;
  margin: auto;
}
section{
  min-height: 40vh;
}
h2{
  margin-left: 0;
  margin-right: 0;
  margin-top: 11px;
  margin-bottom: 11px;
  padding-bottom: 8px;
  border-bottom: dashed grey

}

p{
  font-size: 1.5rem;
  height: 150px;
  overflow: auto;
  line-height: 2.0;
}
 section:nth-of-type(2n+2){
  border-top:10px dashed grey;
  border-bottom: 10px dashed grey;
}
section:nth-of-type(odd){
  border-left: 2em solid grey;
  border-right: 2em solid grey;
}
